.Login_Back {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(70deg, rgb(235,49,117,0.7), rgb(235,49,117,0.1) 95%);
    &>div:nth-child(1) {
        position: fixed;
        top: 10%;
        left: 65%;
        
        opacity: 0.9;
        width: 350px;
        height: 350px;
        border-radius: 175px;  
    }
    &>div:nth-child(2) {
        position: fixed;
        bottom: -10%;
        left: 15%;
        background-color: $primary;
        width: 500px;
        height: 500px;
        border-radius: 250px;  
    }
    &>div:nth-child(3) {
        position: fixed;
        top: -10%;
        left: 5%;
        background-color: $primary;
        width: 200px;
        height: 200px;
        border-radius: 125px;  
    }
}
.circle {
    &_1 {
    background: url(../../images/circle.png) no-repeat;
    background-size: contain;
    width: 350px;
    height: 350px;
    }
    &_2 {
        background: url(../../images/circle.png) no-repeat;
        background-size: contain;
        width: 500px;
        height: 500px;
    }
    &_3 {
    background: url(../../images/circle.png) no-repeat;
    background-size: contain;
    width: 200px;
    height: 200px;
    }
}

.Login_Front {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    box-shadow: 0 0 15px 15px rgb(0,0,0,0.01);
    background-color: rgb(255,255,255,0.05);
    backdrop-filter: blur(10px);
    left: calc(50% - 400px);
    top: calc(50% - 300px);
    position: fixed;
    width: 700px;
    height: 500px;
    border-radius: 50px;
    &_h1 {
        color: $primary;
        &>span {
            color: #222;
        }
    }
    &_div {
        display: flex;
        flex-grow: 1;
    }
    &_Logo {
        background: url(../../images/nextree3dWhite2.png) no-repeat;
        background-size: contain;
        width: 350px;
        height: 250px;
        margin-right: 30px;
    }
}